.descriptionBox {
    background-color: $white;
    border: 1px solid $cyan_dark;
    box-sizing: border-box;
    display: none;
    padding: 20px;
    position: absolute;

    .games-table_cell:hover > & {
        display: block;
    }
}