.header {
    background-color: rgba(0, 0, 0, .7);
    border-bottom: 1px solid $grey_dark;
    overflow: auto;
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo {
    height: 90px;
    margin: 5px 50px 5px 0;

    &-img {
        height: 100%;
    }
}

.menu {
    &-list {
        @include pxToRem(26);
        color: $white;
        display: flex;
        font-weight: 800;
        justify-content: space-between;
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    &-item {
        display: inline-block;
        margin-right: 30px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &--link {
        @include transition(color);
        color: $white;
        text-decoration: none;

        &.active,
        &:hover,
        &:focus {
            color: $cyan_dark;
        }
    }
}