<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="header">
    <div class="page_wrapper page_wrapper--menu">
        <div class="logo">
            <img src="../images/logo/logo_plain.png" class="logo-img" alt="logo"/>
        </div>
        <div class="menu">
            <ul class="menu-list">
                <li class="menu-item"><a href="#" class="menu--link">Gry</a></li>
                <li class="menu-item"><a href="#" class="menu--link">Profil</a></li>
                <li class="menu-item"><a href="#" class="menu--link">Kontakt</a></li>
                <li class="menu-item"><a href="#" class="menu--link">Wyloguj</a></li>
            </ul>
        </div>
    </div>
</div>
<section class="slider siema section">
    <div class="slider-img" style="background-image: url('${require(`../images/slider/2.jpg`)}')"></div>
    <div class="slider-img" style="background-image: url('${require(`../images/slider/3.jpg`)}')"></div>
</section>
<section class="mainContent section">
    <div class="page_wrapper">
        <div class="account">
            <h2 class="section-header">Twoje Konto</h2>
            <div class="account-content">
                <h3 class="account-header">Twoje Dane:</h3>
                <div class="account-data">
                    <div class="account-data--column">
                        <label class="account-data--label">Imie</label>
                        <label class="account-data--label">Nazwisko</label>
                        <label class="account-data--label">Imie</label>
                    </div>
                    <div class="account-data--column">
                        <input type="text" class="account-data--input" value="Stanislaw" disabled>
                        <input type="text" class="account-data--input" value="Szatniak" disabled>
                        <input type="text" class="account-data--input" value="Stanislaw" disabled>
                    </div>
                    <div class="account-data--column">
                        <a href="#" class="account-data--edit">Edytuj</a>
                        <a href="#" class="account-data--edit">Edytuj</a>
                        <a href="#" class="account-data--edit">Edytuj</a>
                    </div>
                </div>
                <h3 class="account-header">Twoj Adres:</h3>
                <div class="account-data">
                    <div class="account-data--column">
                        <label class="account-data--label">Miasto</label>
                        <label class="account-data--label">Ulica</label>
                        <label class="account-data--label">ZIP</label>
                        <label class="account-data--label">Telefon</label>
                    </div>
                    <div class="account-data--column">
                        <input type="text" class="account-data--input" value="Poznan" disabled>
                        <input type="text" class="account-data--input" value="ZYDOWSKA 3/2" disabled>
                        <input type="text" class="account-data--input" value="61-551" disabled>
                        <input type="text" class="account-data--input" value="724555863" disabled>
                    </div>
                    <div class="account-data--column">
                        <a href="#" class="account-data--edit">Edytuj</a>
                        <a href="#" class="account-data--edit">Edytuj</a>
                        <a href="#" class="account-data--edit">Edytuj</a>
                        <a href="#" class="account-data--edit">Edytuj</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>