<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<div class="page_wrapper">
    <div class="content">
        <div class="content-logo"></div>
        <div class="content-form">
            <form>
                <input type="text" class="content-form--input" name="Username" placeholder="Username">
                <input type="text" class="content-form--input" name="Password" placeholder="Password">
                <input type="submit" class="content-form--singIn" value="Login">
            </form>
        </div>
    </div>
</div>
</body>
</html>