<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<div class="page_wrapper">
    <div class="content">
        <div class="content--main">
            <div class="content-logo"></div>
            <div class="content-form">
                <form>
                    <input type="text" class="content-form_input" name="Username" placeholder="Username">
                    <input type="password" class="content-form_input" name="Password" placeholder="Password">
                    <button class="content-form_signIn">Login</button>
                </form>
            </div>
            <div class="content-button">
                <a class="content-link jsCreateAccount" href="#">Załóż konto</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>