.table {
    border-collapse: collapse;
    width: 100%;

    &_header {
        color: $white;
        font-weight: 800;
    }

    &_header &_row {
        background-color: $cyan_dark;
    }

    &_body &_row {
        @include transition(background-color);
        background-color: white;

        &:nth-child(2n) {
            background-color: rgba(103, 202, 187, .3);
        }

        &:nth-child(2n + 1) {
            background-color: rgba(103, 202, 187, .5);
        }

        &:hover {
            background-color: rgba(103, 202, 187, 1);
        }
    }

    &_row:hover &_cell--link {
        color: $black;
    }

    &_row:hover &_cell--link:hover,
    &_row:hover &_cell--link:focus {
        color: $white;
    }

    &_cell {
        border: 1px solid $cyan_dark;
        box-sizing: border-box;
        padding: 10px 10px;
        text-align: center;
    }

    &_link {
        @include transition(color);
        color: $cyan_dark;

        &:hover,
        &:focus {
            color: $white;
        }

        &--disabled,
        &--disabled:hover,
        &--disabled:focus {
            color: grey;
            cursor: text;
        }
    }
}