.account {
    align-items: flex-start;
    display: flex;

    &-sidePanel,
    &-mainContent {
        background-color: $white;
        border: 1px solid $cyan_dark;
        border-radius: 6px;
        box-sizing: border-box;
        padding-bottom: 24px;
    }

    &-sidePanel {
        margin-right: 30px;
        width: calc(25% - 30px);
    }

    &-mainContent {
        width: 75%;
    }

    &-menu {
        &--list {
            list-style: none;
        }

        &--link {
            @include pxToRem(20);
            @include transition(color);
            color: $black;
            font-weight: 800;
            line-height: 30px;
            text-decoration: none;

            &:hover,
            &:focus,
            &.active {
                color: $cyan_dark;
            }
        }
    }

    &-content {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0 48px;
    }

    &-data {
        display: flex;
        justify-content: space-around;

        &--column {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }

        &--label {
            @include pxToRem(20);
            display: block;
            margin-bottom: 20px;
            width: 100px;
        }

        &--input {
            padding: 5px 10px;
            display: block;
            margin-bottom: 20px;
            width: 300px;
        }

        &--edit {
            @include transition(color);
            color: $black;
            text-decoration: none;
            margin-bottom: 20px;

            &:hover,
            &:focus {
                color: $cyan_dark;
            }
        }
    }

    &-header {
        @include pxToRem(24);
        color: $cyan_dark;
        font-weight: 800;
    }
}