.account {
    align-items: flex-start;
    display: flex;

    &-sidePanel,
    &-mainContent {
        background-color: $white;
        border: 1px solid $cyan_dark;
        border-radius: 6px;
        box-sizing: border-box;
        padding-bottom: 24px;
    }

    &-sidePanel {
        margin-right: 30px;
        width: calc(25% - 30px);
    }

    &-mainContent {
        width: 75%;
    }

    &-menu {
        &--list {
            list-style: none;
        }

        &--link {
            @include pxToRem(20);
            @include transition(color);
            color: $black;
            font-weight: 800;
            line-height: 30px;
            text-decoration: none;

            &:hover,
            &:focus,
            &.active {
                color: $cyan_dark;
            }
        }
    }

    &-content {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0 48px;
    }

    &-data {
        display: flex;
        margin-bottom: 24px;

        &_column {
            display: flex;
            justify-content: space-around;
            flex-direction: column;

            &:not(:first-child) {
                flex: 1;
            }
        }

        &_label {
            @include pxToRem(20);
            display: block;
            margin-bottom: 20px;
            margin-left: 30px;
            width: 200px;
        }

        &_input {
            padding: 5px 10px;
            display: block;
            margin-bottom: 20px;

            &--invalid {
                border: 1px solid $red_dark;
            }
        }
    }

    &-buttons {
        text-align: right;

        &_button {
            background-color: $cyan_dark;
            border: 1px solid $bodyColor;
            border-radius: 12px;
            color: $white;
            display: inline-block;
            padding: 10px 40px;
            text-decoration: none;
            transform: translateZ(0);

            &:hover,
            &:focus {
                @include transition(color, background-color, border-color);
                background-color: $white;
                border: 1px solid $cyan_dark;
                color: $cyan_dark;
            }
        }
    }

    &-achievementBox {
        margin-bottom: 30px;
        
        &_content {
            display: flex;
            margin-bottom: 12px;
        }

        &_image {
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 30px;
            max-width: 75px;
        }

        &--grey &_image {
            filter: grayscale(100%);
        }

        &_image img {
            visibility: hidden;
            width: 100%;
        }
    }

    &-header {
        @include pxToRem(24);
        color: $cyan_dark;
        font-weight: 800;
    }
}