html {
    margin: 0;
    padding: 0;
    font-size: $fontSize + px;
    font-family: 'nexa', Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #f6f8fa;
}

.clearfix {
    clear: both;
}

.page_wrapper {
    width: 960px;
    margin: 0 auto;
}
