// typography
$fontSize: 16;

// colors
$white: #fff;
$black: #000;
$cyan: #67CABB;
$cyan_light: #e0ffff;
$cyan_dark: #00a69c;
$red_light: #ffdce0;
$red_dark: #86181d;
$grey: #ccc;
$grey_light: #eee;
$grey_dark: #464646;

//transition
$transitionTime: .3s